{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}


<div id="contactForm">
    
    <h1>Contactez-nous !</h1>
    <div class="container">    <a href="tel:06 62 72 24 65"><h3>06 62 72 24 65</a></h3><i class="fas fa-phone-square-alt"></i></a>
    </div>


    <div class="row">
        <div class="col-6 offset-3">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash-{{ label }} bg-{{ label }} text-light p-3 mb-5 rounded">{{ message }}</div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    
    <div class="container">
        
        {{ form_start(form) }}
        {{ form_end(form )}}
    </div>
    <iframe src="https://www.google.com/maps/d/embed?mid=1KJLs4Yx9KeSgdMElu7qJuYH8aCfBm118" ></iframe>

    
</div>
{% endblock %}
